<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>get-task-allow</key>
    <true/>
    <key>task_for_pid-allow</key>
    <true/>
    <key>com.apple.system-task-ports</key>
    <true/>
    <key>com.apple.security.exception.iokit-user-client-class</key>
    <array>
        <string>IOHIDEventSystemUserClient</string>
        <string>AppleMobileFileIntegrityUserClient</string>
    </array>
    <key>com.apple.private.hid.client</key>
    <true/>
    <key>com.apple.private.hid.client.event</key>
    <true/>
    <key>com.apple.private.hid.manager.client</key>
    <true/>
    <key>com.apple.private.tcc.allow</key>
    <array>
        <string>kTCCServiceAll</string>
    </array>
    <key>com.apple.security.cs.debugger</key>
    <true/>
    <key>com.apple.security.cs.disable-library-validation</key>
    <true/>
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key>
    <true/>
    <key>com.apple.security.cs.allow-jit</key>
    <true/>
    <key>com.apple.security.iokit-user-client-class</key>
    <array>
        <string>*</string>
    </array>
    <key>com.apple.private.memorystatus</key>
    <true/>
    <key>com.apple.private.skip-library-validation</key>
    <true/>
    <key>dynamic-codesigning</key>
    <true/>
    <key>platform-application</key>
    <true/>
    <key>run-atalant</key>
    <true/>
</dict>
</plist>
